# dependencias y build
node_modules/
dist/
.astro/

# editor / sistema
.vscode/
.DS_Store
Thumbs.db

# envs
.env
.env.*
!.env.example

# vercel
.vercel/

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# NO ignores: public/**
# (asegúrate de NO tener líneas que ignoren "public/" o "icons/")