# deps & build
node_modules/
dist/
.astro/

# editor / os
.vscode/
.DS_Store
Thumbs.db

# env
.env
.env.*
!.env.example

# vercel
.vercel/

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

!public/**
!public/icons/**